<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swag.qrorder.mapper.BossMapper">

    <select id="getBossByBossId" parameterType="swag.qrorder.model.Boss" resultType="swag.qrorder.model.Boss">
        SELECT
            *
        FROM
            boss
        WHERE
            boss_id = #{bossId}
    </select>

    <insert id="signUp" parameterType="swag.qrorder.model.Boss">
        INSERT INTO
            boss(boss_id, password, name, phone_number)
        VALUES
            (#{bossId}, #{password}, #{name}, #{phoneNumber})
    </insert>

</mapper>