<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swag.qrorder.mapper.JwtMapper">

    <insert id="addJwt" parameterType="swag.qrorder.common.model.Token">
        INSERT INTO jwt
        VALUES (#{restaurantId},#{accessToken})
    </insert>

    <delete id="deleteJwt" parameterType="string">
        DELETE FROM jwt
        WHERE restaurant_id = #{restaurantId}
    </delete>
</mapper>